.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.book-image img {
  width: 170px;
  height: 220px;
  overflow: hidden;
  display: block;
  margin: 1rem auto;
  cursor: pointer;
}

.book-content {
  font-family: var(--font-poppins), sans-serif;
  color: #1c1917;
  font-size: 14px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.book-image:hover + .book-content {
  color: #1e40af;
  font-weight: bold;
}

.book-info {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.2rem 0.4rem;
  padding: 0 1rem 1rem 1rem;
}

.book-toggle {
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  cursor: pointer;
  display: flex;
  transition: background-color 0.3s ease;
  padding: 0.2rem 0.2rem;
  gap: 0.5rem;
}

.book-toggle:hover {
  background-color: rgba(30, 64, 175, 0.1);
}

.book-toggle:focus {
  outline: none;
}

.toggle-indicator {
  display: inline-block;
  width: 1rem;
  background: none;
}
