.post-title {
    font-family: var(--font-poppins), sans-serif;
    font-weight: 400;
    margin: 0 0 0.625rem;
    text-align: center;
    font-size: 1.5rem;
}

.post-title a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.post-title a:hover {
    color: #1e40af;
}

.post-description {
    margin-top: 0.9375rem;
    padding-block: 0.625rem;
    font-size: 1.2rem;
    line-height: 1.6;
}

.post-topic {
    color: #57534e;
    text-align: right;
}

.post-topic span {
    font-weight: 500;
    color: #1e40af;
}

.post-wrapper {
    display: flex;
    min-height: 60vh;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.post-container {
    display: grid;
    width: 100%;
    max-width: 56.25rem;
    gap: 4rem;
}

.post-card {
    font-family: var(--font-poppins), sans-serif;
    border-radius: 0.5rem;
    padding-block: 1.5rem;
}

.separator {
    margin-inline: auto;
    margin-block: 2.5rem;
    height: 1px;
    width: 10rem;
    border: 0;
    background-color: #d6d3d1;
}
