.marquee {
    font-family: var(--font-poppins), sans-serif;
    font-size: large;
    padding-block: 2px;
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
    user-select: text;
    --gap: 4px;
    gap: var(--gap);
    color: #1e40af;
    margin-top: 0;
    padding-top: 0;
}

.marquee ul {
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    background-color: #faf9f6;
    animation: scroll 40s linear infinite;
}

.marquee ul li {
    animation: glow 3s infinite alternate;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@keyframes glow {
    0%,
    100% {
        text-shadow:
            0 0 2px rgba(30, 64, 175, 0.25),
            0 0 6px rgba(30, 64, 175, 0.15);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
