@import "tailwindcss";
@import "./styles/recent-song.css";
@import "./styles/secret-numbers.css";
@import "./styles/posts.css";
@import "./styles/projects.css";
@import "./styles/books.css";
@import "./styles/markdown.css";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-poppins);
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  min-height: 100%;
  background-color: #faf9f6;
}

body {
  font-family: var(--font-poppins), sans-serif;
}

h1,
h2,
h3,
.poppins {
  font-family: var(--font-poppins), sans-serif;
}

.garamond {
  font-family: var(--font-garamond), serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  user-select: none;
}

footer {
  padding: 0.5rem;
  user-select: none;
  background-color: transparent;
  text-align: center;
}

.social-icons a {
  color: #44403c;
  transition: color 0.3s;
  font-size: 24px;
  padding: 10px;
  margin: 0 10px;
}

.social-icons a:hover {
  color: #1e40af;
}
