@import "tailwindcss";
@import "./styles/recent-song.css";
@import "./styles/secret-numbers.css";
@import "./styles/posts.css";
@import "./styles/projects.css";
@import "./styles/books.css";
@import "./styles/markdown.css";
@plugin "@tailwindcss/typography";

@theme inline {
    --font-sans: var(--font-poppins);
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    min-height: 100%;
    background-color: #faf9f6;
}

body {
    font-family: var(--font-poppins), sans-serif;
}

h1,
h2,
h3,
.poppins {
    font-family: var(--font-poppins), sans-serif;
}
